.loadingNone{
    display: none;
}

.spinner-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-light);
  }
  
  .spinner-container .spinner {
    height: 100px;
    width: 100px;
    background-color: var(--white-white);
    border-radius: 50%;
    position: relative;
    animation: animateRotate 3s linear infinite;
  }
  
  .spinner-container .spinner::before,
  .spinner-container .spinner::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--orange-light);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .spinner-container .spinner::before {
    height: calc(85% + 3px);
    width: calc(85% + 3px);
    left: -2px;
    animation: animateBall 1s infinite linear alternate;
  }
  
  .spinner-container .spinner::after {
    height: calc(15% + 3px);
    width: calc(15% + 3px);
    right: -2px;
    animation: animateBall 1s infinite linear alternate-reverse;
  }
  
  @keyframes animateBall {
    from { height: calc(85% + 3px); width: calc(85% + 3px); }
    to {height: calc(15% + 3px); width: calc(15% + 3px); }
  }
  
  @keyframes animateRotate {
    to { transform: rotate(360deg); }
  }